@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-cs-dark text-cs-text antialiased;
  background-image: radial-gradient(circle at top center, #1e293b 0%, #0f172a 100%);
  min-height: 100vh;
}